@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?5bf31443e08ef104358534eb32e0a32b") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-whatsapp"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-trash"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-tiktok"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-threads"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-shield"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-plus"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-payment"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-minus"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-instagram"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-filter"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-diamond"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-delivery"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-cart"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-arrow-thin"]::before { 
		content: "\f110"; 
	} 


/* Generated by vite-plugin-svg-spritemap */
:root {
  --main-color: #fbfbfb;
  --second-color: #040404;
  --border-color: #04040482;
  --gold-color: #B8860B;
  --form-color: #0000000D;
  --blur-color: #fbfbfb82;
  /* --gradient-start-color: #C9971A;
   --gradient-middle-color: #D4A53C;
   --gradient-end-color: #B8860B;
   --gradient-hover-start: #D4A53C;
   --gradient-hover-middle: #E3BD5A;
   --gradient-hover-end: #C9971A; */
}
.dark-theme {
  --main-color: #040404;
  --second-color: #fbfbfb;
  --border-color: #fbfbfb82;
  --gold-color: #FFD68B;
  --form-color: #ffffff0D;
  --blur-color: #04040482;
  /* --gradient-start-color: #FFD68B;
   --gradient-middle-color: #FFE7C0;
   --gradient-end-color: #FFD68B;
   --gradient-hover-start: #FFBE76;
   --gradient-hover-middle: #FFE4B5;
   --gradient-hover-end: #FFBE76; */
}
html::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  z-index: 1000;
  pointer-events: none;
}
html[data-fls-preloader-loaded]::after {
  opacity: 0;
  transition: opacity 0.2s;
}
body {
  min-width: 20rem;
  color: var(--second-color);
  background-color: var(--main-color);
  font-family: "Montserrat";
  font-size: 1rem;
}
.dark-theme body {
  font-weight: normal;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.page:not(.page--home) {
  margin-block-start: 6.25rem;
}
.title {
  font-family: "Pacifico", cursive;
  line-height: 1.28;
}
.text {
  display: grid;
  gap: 1.25rem;
}
.text h2:not(:first-child) {
  margin-block-start: 1.25rem;
}
.text p {
  line-height: 1.4;
}
.products__container {
  display: grid;
  gap: 2.5rem;
}
.products__title {
  text-align: center;
}
.products__cards {
  display: grid;
  gap: 1.25rem;
}
.products__button {
  place-self: center;
}
.card {
  border-radius: 1.25rem;
  border: 0.0625rem solid var(--border-color);
  overflow: hidden;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease;
}
.card.fade-out {
  opacity: 0;
  transform: translateY(0.625rem);
}
.card.fade-in {
  opacity: 0;
  transform: translateY(0.625rem);
  animation: fadeInUp 0.8s ease forwards;
}
.card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card__image {
  position: relative;
  width: 100%;
  padding-block-end: 130%;
  overflow: hidden;
}
.card__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  transition: scale 0.8s ease-in-out;
}
.card__text {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.card__title {
  flex-grow: 1;
  font-weight: 500;
  letter-spacing: -0.125rem;
  transition: color 0.5s ease-in-out;
}
.card__footer {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
}
.card__price {
  font-size: 1.5rem;
  font-weight: 600;
}
.card__button {
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(0.625rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/* Generated by vite-plugin-svg-spritemap */
.spollers {
  display: grid;
  gap: 0.9375rem;
  align-content: flex-start;
}

.spollers__title {
  width: 100%;
  cursor: pointer;
  text-align: left;
  padding-right: 1.25rem;
  position: relative;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  position: relative;
  width: 100%;
  text-align: left;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0.75rem;
  height: 0.0625rem;
  transition: all 0.3s ease 0s;
  width: 0.625rem;
  background-color: var(--second-color);
}
.--spoller-init .spollers__title::before {
  transform: rotate(40deg);
  right: 0.4375rem;
}
.--spoller-init .spollers__title::after {
  transform: rotate(-40deg);
}
.spollers__title.--spoller-active::before {
  transform: rotate(-40deg);
}
.spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}/* Generated by vite-plugin-svg-spritemap */
.menu__body .header__langlist {
  display: none;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.375rem;
}
.menu__link {
  font-weight: 500;
  transition: color 0.5s ease-in-out;
}
.menu__link--active {
  color: var(--gold-color);
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  padding-block: 1.25rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: var(--main-color);
  backdrop-filter: blur(0.5rem);
  transition: padding-block 0.6s ease;
}
.header.--header-scroll {
  padding-block: 0.625rem;
  background-color: var(--blur-color);
}
.header__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__logo {
  max-height: 3.75rem;
  position: relative;
  z-index: 21;
}
.--header-scroll .header__logo {
  max-height: 2.5rem;
}
.header__right {
  display: flex;
  gap: 1.5rem;
}
.header__cart {
  position: relative;
  font-size: 1.5rem;
}
.header__cart span {
  font-size: 0.625rem;
  font-weight: 500;
  position: absolute;
  top: -0.3125rem;
  right: -0.4375rem;
  padding: 0.0625rem;
  text-align: center;
}
.header__langlist {
  display: flex;
  gap: 0.375rem;
}
.header__langitem {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}
.header__langitem:not(:last-child)::after {
  content: "";
  width: 0.0625rem;
  height: 100%;
  background-color: var(--second-color);
}
.header__langitem.active {
  color: var(--gold-color);
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll].--header-scroll {
  position: fixed;
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}/* Generated by vite-plugin-svg-spritemap */
.footer__body {
  display: grid;
  gap: 1.25rem;
}
.footer__info {
  display: grid;
  margin-block-end: 2.5rem;
}
.footer__logo {
  width: 100%;
}
.footer__text {
  grid-column: span 2/span 2;
  line-height: 1.3;
}
.footer__copy {
  grid-column: span 3/span 3;
  font-size: 0.75rem;
}
.footer__copy-link span {
  transition: color 0.5s ease-in-out;
}
.nav__footer-title {
  font-size: 1.125rem;
  font-weight: 500;
}
.nav__footer-item:not(:last-child) {
  margin-block-end: 0.75rem;
}
.nav__footer-link {
  transition: color 0.5s ease-in-out;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
.socials__link {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.065625rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  transition: color 0.5s ease-in-out;
}
.socials__link::before {
  font-size: 1.375rem;
}/* Generated by vite-plugin-svg-spritemap */
@property --gradient-start-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #C9971A;
}
@property --gradient-middle-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #D4A53C;
}
@property --gradient-end-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #B8860B;
}
.button {
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5625rem;
  color: #040404;
  text-transform: uppercase;
  font-weight: 500;
  background-image: linear-gradient(90deg, var(--gradient-start-color) 0%, var(--gradient-middle-color) 50%, var(--gradient-end-color) 100%);
  transition-property: --gradient-start-color, --gradient-middle-color, --gradient-end-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.button--small {
  padding: 0.375rem 0.75rem;
}
.button--transparent {
  background: var(--main-color);
  color: var(--second-color);
  border: 0.0625rem solid var(--border-color);
  transition: all 0.5s ease-in-out;
  justify-content: space-between;
}
.button--icon {
  gap: 0.625rem;
  align-items: center;
  flex-direction: row-reverse;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */@media (max-width: 61.99875em){
  .footer__text {
    place-self: center;
  }
  .footer__copy {
    margin-block-start: 2.5rem;
  }
}@media (max-width: 47.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}@media (max-width: 47.99875em){
  .menu__body {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
  }
  .menu__body .header__langlist {
    display: flex;
    gap: 0.375rem;
    font-size: 1.25rem;
    align-self: flex-end;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
    z-index: 20;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    gap: 0;
  }
  .menu__link {
    font-size: 1.5rem;
    padding: 0.625rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 25;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--second-color);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .header__logo-link {
    flex: 1;
  }
  .header__langlist {
    display: none;
  }
  .footer__text {
    font-size: 0.875rem;
  }
}@media (max-width: 29.99875em){
  .footer__copy-link {
    font-size: 0.875rem;
    margin-block-start: 0.375rem;
  }
  .nav__footer-body {
    padding-block-start: 1.25rem;
    padding-inline: 1rem;
  }
}@media (max-width: 20em){
  h1.title {
    font-size: 2.875rem;
  }
  h2.title {
    font-size: 2.375rem;
  }
  .text h2 {
    font-size: 1.5rem;
  }
  .text p {
    font-size: 0.875rem;
  }
  .products {
    padding-block: 2.5rem;
  }
  .products__button {
    margin-block-start: 6.25e-8rem;
  }
  .card__text {
    gap: 0.5rem;
  }
  .card__title {
    font-size: 1.25rem;
  }
  .card__description {
    font-size: 0.75rem;
  }
  .menu__list {
    column-gap: 1.25rem;
  }
  .footer {
    padding-block: 2.5rem;
  }
  .footer__info {
    gap: 1.25rem;
  }
  .socials {
    margin-block-start: 2.5rem;
  }
  .button {
    font-size: 0.875rem;
  }
  .button--small {
    font-size: 0.75rem;
  }
}@media (min-width: 20em) and (max-width: 89.375em){
  h1.title {
    font-size: clamp( 2.875rem , 2.2623873873875rem  +  3.0630630631vw , 5rem );
  }
  h2.title {
    font-size: clamp( 2.375rem , 1.94256756756875rem  +  2.1621621622vw , 3.875rem );
  }
  .text h2 {
    font-size: clamp( 1.5rem , 1.28378378378125rem  +  1.0810810811vw , 2.25rem );
  }
  .text p {
    font-size: clamp( 0.875rem , 0.8389639639625rem  +  0.1801801802vw , 1rem );
  }
  .products {
    padding-block: clamp( 2.5rem , 1.77927927928125rem  +  3.6036036036vw , 5rem );
  }
  .products__button {
    margin-block-start: clamp( 6.25e-8rem , -0.36036027984375rem  +  1.8018017117vw , 1.25rem );
  }
  .card__text {
    gap: clamp( 0.5rem , 0.427927927925rem  +  0.3603603604vw , 0.75rem );
  }
  .card__title {
    font-size: clamp( 1.25rem , 1.14189189189375rem  +  0.5405405405vw , 1.625rem );
  }
  .card__description {
    font-size: clamp( 0.75rem , 0.7139639639625rem  +  0.1801801802vw , 0.875rem );
  }
  .menu__list {
    column-gap: clamp( 1.25rem , 0.8896396396375rem  +  1.8018018018vw , 2.5rem );
  }
  .footer {
    padding-block: clamp( 2.5rem , 1.77927927928125rem  +  3.6036036036vw , 5rem );
  }
  .footer__info {
    gap: clamp( 1.25rem , 0.8896396396375rem  +  1.8018018018vw , 2.5rem );
  }
  .socials {
    margin-block-start: clamp( 2.5rem , 1.77927927928125rem  +  3.6036036036vw , 5rem );
  }
  .button {
    font-size: clamp( 0.875rem , 0.8389639639625rem  +  0.1801801802vw , 1rem );
  }
  .button--small {
    font-size: clamp( 0.75rem , 0.7139639639625rem  +  0.1801801802vw , 0.875rem );
  }
}@media (min-width: 29.99875em) and (min-width: 89.375em){
  .footer__body {
    gap: 8.75rem;
  }
}@media (min-width: 29.99875em) and (min-width: 20em) and (max-width: 89.375em){
  .footer__body {
    gap: clamp( 1.5rem , -0.5900900900875rem  +  10.4504504505vw , 8.75rem );
  }
}@media (min-width: 29.99875em) and (max-width: 20em){
  .footer__body {
    gap: 1.5rem;
  }
}@media (min-width: 29.99875em){
  .products__cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .footer__body {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .footer__copy {
    font-size: 0.875rem;
  }
  .nav__footer-title {
    font-size: 1.375rem;
    margin-block-end: 1.25rem;
  }
}@media (min-width: 47.99875em){
  .products__cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .header__container {
    justify-content: space-between;
    gap: 1.25rem;
  }
  .header__cart {
    font-size: 1.25rem;
  }
  .footer__info {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column: span 2/span 2;
    margin-block-end: 0;
  }
  .nav__footer-title {
    cursor: auto;
  }
}@media (min-width: 61.99875em){
  .products__cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .footer__body {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}@media (min-width: 89.375em){
  h1.title {
    font-size: 5rem;
  }
  h2.title {
    font-size: 3.875rem;
  }
  .text h2 {
    font-size: 2.25rem;
  }
  .text p {
    font-size: 1rem;
  }
  .products {
    padding-block: 5rem;
  }
  .products__button {
    margin-block-start: 1.25rem;
  }
  .card__text {
    gap: 0.75rem;
  }
  .card__title {
    font-size: 1.625rem;
  }
  .card__description {
    font-size: 0.875rem;
  }
  .menu__list {
    column-gap: 2.5rem;
  }
  .footer {
    padding-block: 5rem;
  }
  .footer__info {
    gap: 2.5rem;
  }
  .socials {
    margin-block-start: 5rem;
  }
  .button {
    font-size: 1rem;
  }
  .button--small {
    font-size: 0.875rem;
  }
}@media (any-hover: hover){
  .card:hover .card__title {
    color: var(--gold-color);
  }
  .card:hover .card__button {
    color: var(--main-color);
    background-color: var(--second-color);
  }
  .card:hover img {
    scale: 1.05;
  }
  .menu__link:hover {
    color: var(--gold-color);
  }
  .footer__copy-link span:hover {
    color: var(--gold-color);
  }
  .nav__footer-link:hover {
    color: var(--gold-color);
  }
  .socials__link:hover {
    color: var(--gold-color);
  }
  .button:not(.button--transparent):hover {
    --gradient-start-color: #D4A53C;
    --gradient-middle-color: #E3BD5A;
    --gradient-end-color: #C9971A;
  }
  .button--transparent:hover {
    color: var(--main-color);
    background-color: var(--second-color);
  }
}