@charset "UTF-8";:root {
  --iti-hover-color: rgba(0, 0, 0, 0.05);
  --iti-border-color: #ccc;
  --iti-dialcode-color: #999;
  --iti-dropdown-bg: white;
  --iti-search-icon-color: #999;
  --iti-spacer-horizontal: 0.5rem;
  --iti-flag-height: 0.75rem;
  --iti-flag-width: 1rem;
  --iti-border-width: 0.0625rem;
  --iti-arrow-height: 0.25rem;
  --iti-arrow-width: 0.375rem;
  --iti-triangle-border: calc(var(--iti-arrow-width) / 2);
  --iti-arrow-padding: 0.375rem;
  --iti-arrow-color: #555;
  --iti-path-flags-1x: url("../assets/intl/flags.webp");
  --iti-path-flags-2x: url("../assets/intl/flags@2x.webp");
  --iti-path-globe-1x: url("../assets/intl/globe.webp");
  --iti-path-globe-2x: url("../assets/intl/globe@2x.webp");
  --iti-flag-sprite-width: 244rem;
  --iti-flag-sprite-height: 0.75rem;
  --iti-mobile-popup-margin: 1.875rem;
}

.iti {
  position: relative;
  display: inline-block;
}
.iti * {
  box-sizing: border-box;
}
.iti__a11y-text {
  width: 0.0625rem;
  height: 0.0625rem;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  overflow: hidden;
  position: absolute;
}
.iti input.iti__tel-input,
.iti input.iti__tel-input[type=text],
.iti input.iti__tel-input[type=tel] {
  position: relative;
  z-index: 0;
  margin: 0 !important;
}
.iti__country-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--iti-border-width);
}
.iti__selected-country {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 0;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}
.iti__selected-country-primary {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 var(--iti-arrow-padding) 0 var(--iti-spacer-horizontal);
}
.iti__arrow {
  margin-left: var(--iti-arrow-padding);
  width: 0;
  height: 0;
  border-left: var(--iti-triangle-border) solid transparent;
  border-right: var(--iti-triangle-border) solid transparent;
  border-top: var(--iti-arrow-height) solid var(--iti-arrow-color);
}
.iti__arrow--up {
  border-top: none;
  border-bottom: var(--iti-arrow-height) solid var(--iti-arrow-color);
}
.iti__dropdown-content {
  border-radius: 0.1875rem;
  background-color: var(--iti-dropdown-bg);
}
.iti--inline-dropdown .iti__dropdown-content {
  position: absolute;
  z-index: 2;
  margin-top: 0.1875rem;
  margin-left: calc(var(--iti-border-width) * -1);
  border: var(--iti-border-width) solid var(--iti-border-color);
  box-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.2);
}
.iti__search-input {
  width: 100%;
  border-width: 0;
  border-radius: 0.1875rem;
  padding-left: 1.875rem;
  padding-right: 1.75rem;
}
[dir=rtl] .iti__search-input {
  padding-left: inherit;
  padding-right: 1.875rem;
  background-position: right 0.5rem center;
}
.iti__search-input + .iti__country-list {
  border-top: 0.0625rem solid var(--iti-border-color);
}
.iti__search-input::-webkit-search-cancel-button {
  appearance: none;
}
.iti__search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.iti__search-icon {
  position: absolute;
  left: 0.5rem;
  display: flex;
  pointer-events: none;
}
[dir=rtl] .iti__search-icon {
  left: auto;
  right: 0.5rem;
}
.iti__search-icon-svg {
  stroke: var(--iti-search-icon-color);
  fill: none;
  stroke-width: 3;
}
.iti__search-clear {
  position: absolute;
  right: 0.25rem;
  background: transparent;
  border: 0;
  border-radius: 0.1875rem;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease;
  width: 1.5rem;
  height: 1.5rem;
}
.iti__search-clear .iti__search-clear-x {
  stroke-width: 2;
}
.iti__search-clear .iti__search-clear-bg {
  fill: var(--iti-search-icon-color);
}
[dir=rtl] .iti__search-clear {
  right: auto;
  left: 0.25rem;
}
.iti__search-clear:hover, .iti__search-clear:focus-visible {
  background: var(--iti-hover-color);
  outline: none;
}
.iti__no-results {
  text-align: center;
  padding: 1.875rem 0;
}
.iti__country-list {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.iti--inline-dropdown .iti__country-list {
  max-height: 11.5625rem;
}
.iti--flexible-dropdown-width .iti__country-list {
  white-space: nowrap;
}
.iti__country {
  display: flex;
  align-items: center;
  padding: 0.5rem var(--iti-spacer-horizontal);
  outline: none;
}
.iti__dial-code {
  color: var(--iti-dialcode-color);
}
.iti__country.iti__highlight {
  background-color: var(--iti-hover-color);
}
.iti__country-list .iti__flag, .iti__country-name {
  margin-right: var(--iti-spacer-horizontal);
}
[dir=rtl] .iti__country-list .iti__flag, [dir=rtl] .iti__country-name {
  margin-right: 0;
  margin-left: var(--iti-spacer-horizontal);
}
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) button.iti__selected-country {
  cursor: pointer;
}
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country-primary:hover,
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country:has(+ .iti__dropdown-content:hover) .iti__selected-country-primary {
  background-color: var(--iti-hover-color);
}
.iti .iti__selected-dial-code {
  margin-left: 0.25rem;
}
.iti--container {
  position: fixed;
  top: -62.5rem;
  left: -62.5rem;
  z-index: 1060;
  padding: var(--iti-border-width);
}
.iti--container:hover {
  cursor: pointer;
}
.iti__hide {
  display: none;
}
.iti__v-hide {
  visibility: hidden;
}

.iti--fullscreen-popup.iti--container {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: var(--iti-mobile-popup-margin);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.iti--fullscreen-popup .iti__dropdown-content {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
}
.iti--fullscreen-popup .iti__country {
  padding: 0.625rem 0.625rem;
  line-height: 1.5em;
}

.iti__flag {
  --iti-flag-offset: 6.25rem;
  height: var(--iti-flag-height);
  width: var(--iti-flag-width);
  border-radius: 0.0625rem;
  box-shadow: 0rem 0rem 0.0625rem 0rem #888;
  background-image: var(--iti-path-flags-1x);
  background-repeat: no-repeat;
  background-position: var(--iti-flag-offset) 0;
  background-size: var(--iti-flag-sprite-width) var(--iti-flag-sprite-height);
}

.iti__ac {
  --iti-flag-offset: 0rem;
}

.iti__ad {
  --iti-flag-offset: -1rem;
}

.iti__ae {
  --iti-flag-offset: -2rem;
}

.iti__af {
  --iti-flag-offset: -3rem;
}

.iti__ag {
  --iti-flag-offset: -4rem;
}

.iti__ai {
  --iti-flag-offset: -5rem;
}

.iti__al {
  --iti-flag-offset: -6rem;
}

.iti__am {
  --iti-flag-offset: -7rem;
}

.iti__ao {
  --iti-flag-offset: -8rem;
}

.iti__ar {
  --iti-flag-offset: -9rem;
}

.iti__as {
  --iti-flag-offset: -10rem;
}

.iti__at {
  --iti-flag-offset: -11rem;
}

.iti__au {
  --iti-flag-offset: -12rem;
}

.iti__aw {
  --iti-flag-offset: -13rem;
}

.iti__ax {
  --iti-flag-offset: -14rem;
}

.iti__az {
  --iti-flag-offset: -15rem;
}

.iti__ba {
  --iti-flag-offset: -16rem;
}

.iti__bb {
  --iti-flag-offset: -17rem;
}

.iti__bd {
  --iti-flag-offset: -18rem;
}

.iti__be {
  --iti-flag-offset: -19rem;
}

.iti__bf {
  --iti-flag-offset: -20rem;
}

.iti__bg {
  --iti-flag-offset: -21rem;
}

.iti__bh {
  --iti-flag-offset: -22rem;
}

.iti__bi {
  --iti-flag-offset: -23rem;
}

.iti__bj {
  --iti-flag-offset: -24rem;
}

.iti__bl {
  --iti-flag-offset: -25rem;
}

.iti__bm {
  --iti-flag-offset: -26rem;
}

.iti__bn {
  --iti-flag-offset: -27rem;
}

.iti__bo {
  --iti-flag-offset: -28rem;
}

.iti__bq {
  --iti-flag-offset: -29rem;
}

.iti__br {
  --iti-flag-offset: -30rem;
}

.iti__bs {
  --iti-flag-offset: -31rem;
}

.iti__bt {
  --iti-flag-offset: -32rem;
}

.iti__bw {
  --iti-flag-offset: -33rem;
}

.iti__by {
  --iti-flag-offset: -34rem;
}

.iti__bz {
  --iti-flag-offset: -35rem;
}

.iti__ca {
  --iti-flag-offset: -36rem;
}

.iti__cc {
  --iti-flag-offset: -37rem;
}

.iti__cd {
  --iti-flag-offset: -38rem;
}

.iti__cf {
  --iti-flag-offset: -39rem;
}

.iti__cg {
  --iti-flag-offset: -40rem;
}

.iti__ch {
  --iti-flag-offset: -41rem;
}

.iti__ci {
  --iti-flag-offset: -42rem;
}

.iti__ck {
  --iti-flag-offset: -43rem;
}

.iti__cl {
  --iti-flag-offset: -44rem;
}

.iti__cm {
  --iti-flag-offset: -45rem;
}

.iti__cn {
  --iti-flag-offset: -46rem;
}

.iti__co {
  --iti-flag-offset: -47rem;
}

.iti__cr {
  --iti-flag-offset: -48rem;
}

.iti__cu {
  --iti-flag-offset: -49rem;
}

.iti__cv {
  --iti-flag-offset: -50rem;
}

.iti__cw {
  --iti-flag-offset: -51rem;
}

.iti__cx {
  --iti-flag-offset: -52rem;
}

.iti__cy {
  --iti-flag-offset: -53rem;
}

.iti__cz {
  --iti-flag-offset: -54rem;
}

.iti__de {
  --iti-flag-offset: -55rem;
}

.iti__dj {
  --iti-flag-offset: -56rem;
}

.iti__dk {
  --iti-flag-offset: -57rem;
}

.iti__dm {
  --iti-flag-offset: -58rem;
}

.iti__do {
  --iti-flag-offset: -59rem;
}

.iti__dz {
  --iti-flag-offset: -60rem;
}

.iti__ec {
  --iti-flag-offset: -61rem;
}

.iti__ee {
  --iti-flag-offset: -62rem;
}

.iti__eg {
  --iti-flag-offset: -63rem;
}

.iti__eh {
  --iti-flag-offset: -64rem;
}

.iti__er {
  --iti-flag-offset: -65rem;
}

.iti__es {
  --iti-flag-offset: -66rem;
}

.iti__et {
  --iti-flag-offset: -67rem;
}

.iti__fi {
  --iti-flag-offset: -68rem;
}

.iti__fj {
  --iti-flag-offset: -69rem;
}

.iti__fk {
  --iti-flag-offset: -70rem;
}

.iti__fm {
  --iti-flag-offset: -71rem;
}

.iti__fo {
  --iti-flag-offset: -72rem;
}

.iti__fr {
  --iti-flag-offset: -73rem;
}

.iti__ga {
  --iti-flag-offset: -74rem;
}

.iti__gb {
  --iti-flag-offset: -75rem;
}

.iti__gd {
  --iti-flag-offset: -76rem;
}

.iti__ge {
  --iti-flag-offset: -77rem;
}

.iti__gf {
  --iti-flag-offset: -78rem;
}

.iti__gg {
  --iti-flag-offset: -79rem;
}

.iti__gh {
  --iti-flag-offset: -80rem;
}

.iti__gi {
  --iti-flag-offset: -81rem;
}

.iti__gl {
  --iti-flag-offset: -82rem;
}

.iti__gm {
  --iti-flag-offset: -83rem;
}

.iti__gn {
  --iti-flag-offset: -84rem;
}

.iti__gp {
  --iti-flag-offset: -85rem;
}

.iti__gq {
  --iti-flag-offset: -86rem;
}

.iti__gr {
  --iti-flag-offset: -87rem;
}

.iti__gt {
  --iti-flag-offset: -88rem;
}

.iti__gu {
  --iti-flag-offset: -89rem;
}

.iti__gw {
  --iti-flag-offset: -90rem;
}

.iti__gy {
  --iti-flag-offset: -91rem;
}

.iti__hk {
  --iti-flag-offset: -92rem;
}

.iti__hn {
  --iti-flag-offset: -93rem;
}

.iti__hr {
  --iti-flag-offset: -94rem;
}

.iti__ht {
  --iti-flag-offset: -95rem;
}

.iti__hu {
  --iti-flag-offset: -96rem;
}

.iti__id {
  --iti-flag-offset: -97rem;
}

.iti__ie {
  --iti-flag-offset: -98rem;
}

.iti__il {
  --iti-flag-offset: -99rem;
}

.iti__im {
  --iti-flag-offset: -100rem;
}

.iti__in {
  --iti-flag-offset: -101rem;
}

.iti__io {
  --iti-flag-offset: -102rem;
}

.iti__iq {
  --iti-flag-offset: -103rem;
}

.iti__ir {
  --iti-flag-offset: -104rem;
}

.iti__is {
  --iti-flag-offset: -105rem;
}

.iti__it {
  --iti-flag-offset: -106rem;
}

.iti__je {
  --iti-flag-offset: -107rem;
}

.iti__jm {
  --iti-flag-offset: -108rem;
}

.iti__jo {
  --iti-flag-offset: -109rem;
}

.iti__jp {
  --iti-flag-offset: -110rem;
}

.iti__ke {
  --iti-flag-offset: -111rem;
}

.iti__kg {
  --iti-flag-offset: -112rem;
}

.iti__kh {
  --iti-flag-offset: -113rem;
}

.iti__ki {
  --iti-flag-offset: -114rem;
}

.iti__km {
  --iti-flag-offset: -115rem;
}

.iti__kn {
  --iti-flag-offset: -116rem;
}

.iti__kp {
  --iti-flag-offset: -117rem;
}

.iti__kr {
  --iti-flag-offset: -118rem;
}

.iti__kw {
  --iti-flag-offset: -119rem;
}

.iti__ky {
  --iti-flag-offset: -120rem;
}

.iti__kz {
  --iti-flag-offset: -121rem;
}

.iti__la {
  --iti-flag-offset: -122rem;
}

.iti__lb {
  --iti-flag-offset: -123rem;
}

.iti__lc {
  --iti-flag-offset: -124rem;
}

.iti__li {
  --iti-flag-offset: -125rem;
}

.iti__lk {
  --iti-flag-offset: -126rem;
}

.iti__lr {
  --iti-flag-offset: -127rem;
}

.iti__ls {
  --iti-flag-offset: -128rem;
}

.iti__lt {
  --iti-flag-offset: -129rem;
}

.iti__lu {
  --iti-flag-offset: -130rem;
}

.iti__lv {
  --iti-flag-offset: -131rem;
}

.iti__ly {
  --iti-flag-offset: -132rem;
}

.iti__ma {
  --iti-flag-offset: -133rem;
}

.iti__mc {
  --iti-flag-offset: -134rem;
}

.iti__md {
  --iti-flag-offset: -135rem;
}

.iti__me {
  --iti-flag-offset: -136rem;
}

.iti__mf {
  --iti-flag-offset: -137rem;
}

.iti__mg {
  --iti-flag-offset: -138rem;
}

.iti__mh {
  --iti-flag-offset: -139rem;
}

.iti__mk {
  --iti-flag-offset: -140rem;
}

.iti__ml {
  --iti-flag-offset: -141rem;
}

.iti__mm {
  --iti-flag-offset: -142rem;
}

.iti__mn {
  --iti-flag-offset: -143rem;
}

.iti__mo {
  --iti-flag-offset: -144rem;
}

.iti__mp {
  --iti-flag-offset: -145rem;
}

.iti__mq {
  --iti-flag-offset: -146rem;
}

.iti__mr {
  --iti-flag-offset: -147rem;
}

.iti__ms {
  --iti-flag-offset: -148rem;
}

.iti__mt {
  --iti-flag-offset: -149rem;
}

.iti__mu {
  --iti-flag-offset: -150rem;
}

.iti__mv {
  --iti-flag-offset: -151rem;
}

.iti__mw {
  --iti-flag-offset: -152rem;
}

.iti__mx {
  --iti-flag-offset: -153rem;
}

.iti__my {
  --iti-flag-offset: -154rem;
}

.iti__mz {
  --iti-flag-offset: -155rem;
}

.iti__na {
  --iti-flag-offset: -156rem;
}

.iti__nc {
  --iti-flag-offset: -157rem;
}

.iti__ne {
  --iti-flag-offset: -158rem;
}

.iti__nf {
  --iti-flag-offset: -159rem;
}

.iti__ng {
  --iti-flag-offset: -160rem;
}

.iti__ni {
  --iti-flag-offset: -161rem;
}

.iti__nl {
  --iti-flag-offset: -162rem;
}

.iti__no {
  --iti-flag-offset: -163rem;
}

.iti__np {
  --iti-flag-offset: -164rem;
}

.iti__nr {
  --iti-flag-offset: -165rem;
}

.iti__nu {
  --iti-flag-offset: -166rem;
}

.iti__nz {
  --iti-flag-offset: -167rem;
}

.iti__om {
  --iti-flag-offset: -168rem;
}

.iti__pa {
  --iti-flag-offset: -169rem;
}

.iti__pe {
  --iti-flag-offset: -170rem;
}

.iti__pf {
  --iti-flag-offset: -171rem;
}

.iti__pg {
  --iti-flag-offset: -172rem;
}

.iti__ph {
  --iti-flag-offset: -173rem;
}

.iti__pk {
  --iti-flag-offset: -174rem;
}

.iti__pl {
  --iti-flag-offset: -175rem;
}

.iti__pm {
  --iti-flag-offset: -176rem;
}

.iti__pr {
  --iti-flag-offset: -177rem;
}

.iti__ps {
  --iti-flag-offset: -178rem;
}

.iti__pt {
  --iti-flag-offset: -179rem;
}

.iti__pw {
  --iti-flag-offset: -180rem;
}

.iti__py {
  --iti-flag-offset: -181rem;
}

.iti__qa {
  --iti-flag-offset: -182rem;
}

.iti__re {
  --iti-flag-offset: -183rem;
}

.iti__ro {
  --iti-flag-offset: -184rem;
}

.iti__rs {
  --iti-flag-offset: -185rem;
}

.iti__ru {
  --iti-flag-offset: -186rem;
}

.iti__rw {
  --iti-flag-offset: -187rem;
}

.iti__sa {
  --iti-flag-offset: -188rem;
}

.iti__sb {
  --iti-flag-offset: -189rem;
}

.iti__sc {
  --iti-flag-offset: -190rem;
}

.iti__sd {
  --iti-flag-offset: -191rem;
}

.iti__se {
  --iti-flag-offset: -192rem;
}

.iti__sg {
  --iti-flag-offset: -193rem;
}

.iti__sh {
  --iti-flag-offset: -194rem;
}

.iti__si {
  --iti-flag-offset: -195rem;
}

.iti__sj {
  --iti-flag-offset: -196rem;
}

.iti__sk {
  --iti-flag-offset: -197rem;
}

.iti__sl {
  --iti-flag-offset: -198rem;
}

.iti__sm {
  --iti-flag-offset: -199rem;
}

.iti__sn {
  --iti-flag-offset: -200rem;
}

.iti__so {
  --iti-flag-offset: -201rem;
}

.iti__sr {
  --iti-flag-offset: -202rem;
}

.iti__ss {
  --iti-flag-offset: -203rem;
}

.iti__st {
  --iti-flag-offset: -204rem;
}

.iti__sv {
  --iti-flag-offset: -205rem;
}

.iti__sx {
  --iti-flag-offset: -206rem;
}

.iti__sy {
  --iti-flag-offset: -207rem;
}

.iti__sz {
  --iti-flag-offset: -208rem;
}

.iti__tc {
  --iti-flag-offset: -209rem;
}

.iti__td {
  --iti-flag-offset: -210rem;
}

.iti__tg {
  --iti-flag-offset: -211rem;
}

.iti__th {
  --iti-flag-offset: -212rem;
}

.iti__tj {
  --iti-flag-offset: -213rem;
}

.iti__tk {
  --iti-flag-offset: -214rem;
}

.iti__tl {
  --iti-flag-offset: -215rem;
}

.iti__tm {
  --iti-flag-offset: -216rem;
}

.iti__tn {
  --iti-flag-offset: -217rem;
}

.iti__to {
  --iti-flag-offset: -218rem;
}

.iti__tr {
  --iti-flag-offset: -219rem;
}

.iti__tt {
  --iti-flag-offset: -220rem;
}

.iti__tv {
  --iti-flag-offset: -221rem;
}

.iti__tw {
  --iti-flag-offset: -222rem;
}

.iti__tz {
  --iti-flag-offset: -223rem;
}

.iti__ua {
  --iti-flag-offset: -224rem;
}

.iti__ug {
  --iti-flag-offset: -225rem;
}

.iti__us {
  --iti-flag-offset: -226rem;
}

.iti__uy {
  --iti-flag-offset: -227rem;
}

.iti__uz {
  --iti-flag-offset: -228rem;
}

.iti__va {
  --iti-flag-offset: -229rem;
}

.iti__vc {
  --iti-flag-offset: -230rem;
}

.iti__ve {
  --iti-flag-offset: -231rem;
}

.iti__vg {
  --iti-flag-offset: -232rem;
}

.iti__vi {
  --iti-flag-offset: -233rem;
}

.iti__vn {
  --iti-flag-offset: -234rem;
}

.iti__vu {
  --iti-flag-offset: -235rem;
}

.iti__wf {
  --iti-flag-offset: -236rem;
}

.iti__ws {
  --iti-flag-offset: -237rem;
}

.iti__xk {
  --iti-flag-offset: -238rem;
}

.iti__ye {
  --iti-flag-offset: -239rem;
}

.iti__yt {
  --iti-flag-offset: -240rem;
}

.iti__za {
  --iti-flag-offset: -241rem;
}

.iti__zm {
  --iti-flag-offset: -242rem;
}

.iti__zw {
  --iti-flag-offset: -243rem;
}

.iti__globe {
  background-image: var(--iti-path-globe-1x);
  background-size: contain;
  background-position: right;
  box-shadow: none;
  height: 1.1875rem;
}
/* Generated by vite-plugin-svg-spritemap */
.checkout {
  max-width: 50rem;
  margin: 0 auto;
}
.checkout__container {
  display: grid;
  gap: 2.5rem;
}
.checkout__title {
  font-family: "Pacifico", cursive;
  line-height: 1.2;
  text-align: center;
}
.checkout__cart {
  background: var(--form-color);
  border-radius: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 1.25rem;
  column-gap: 3.75rem;
}
.checkout__cart h2 {
  flex: 1 1 100%;
  font-weight: 500;
  letter-spacing: -0.0625rem;
  text-align: center;
}
.form__button {
  min-width: 16.125rem;
  width: fit-content;
  margin: 0 auto;
}

.checkout__items,
.checkout__summary {
  flex: 1 0 16.125rem;
}

.checkout__items {
  list-style: none;
}
.checkout__items .checkout-item {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-bottom: 0.0625rem solid var(--border-color);
}
.checkout__items .checkout-item:last-child {
  border-bottom: none;
}

.checkout__summary {
  padding: 0.75rem 0;
  display: grid;
  gap: 0.625rem;
}
.checkout__summary .checkout__subtotal,
.checkout__summary .checkout__total {
  font-weight: 600;
}
.checkout__summary p {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
}

/* Сообщение после оформления заказа */

@media (max-width: 31.25rem){
  .iti--flexible-dropdown-width .iti__country-list {
    white-space: normal;
  }
}

@media (max-width: 20em){
  .checkout {
    padding-block: 1.25rem;
  }
  .checkout__title {
    font-size: 2.375rem;
  }
  .checkout__cart {
    padding: 1rem;
  }
  .checkout__cart h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 89.375em){
  .checkout {
    padding-block: clamp( 1.25rem , 0.16891891891875rem  +  5.4054054054vw , 5rem );
  }
  .checkout__title {
    font-size: clamp( 2.375rem , 1.94256756756875rem  +  2.1621621622vw , 3.875rem );
  }
  .checkout__cart {
    padding: clamp( 1rem , 0.423423423425rem  +  2.8828828829vw , 3rem );
  }
  .checkout__cart h2 {
    font-size: clamp( 1.25rem , 1.177927927925rem  +  0.3603603604vw , 1.5rem );
  }
}

@media (min-width: 89.375em){
  .checkout {
    padding-block: 5rem;
  }
  .checkout__title {
    font-size: 3.875rem;
  }
  .checkout__cart {
    padding: 3rem;
  }
  .checkout__cart h2 {
    font-size: 1.5rem;
  }
}

@media (min-resolution: 2x){
  .iti__flag {
    background-image: var(--iti-path-flags-2x);
  }
  .iti__globe {
    background-image: var(--iti-path-globe-2x);
  }
}